.mdl-layout__drawer-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    overflow: scroll;
    text-align: center;
}

.cmtnamestyle {
    tapping: 2px;
    marging-top: 1px;
    margin-bottom: 1px;

}
