body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
(max-width: 512px)  and (min-resolution: 1.5dppx),
(max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('./loginbackage_1024.jpg');
    }
}

@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('loginbackage_2048.jpg');
    }
}

@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 1025px) and (min-resolution: 1.5dppx),
(min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
(min-width: 2049px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('loginbackage_2880.jpg');
    }
}


#logintext{
    color:#bf360c;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 36px;
    position: absolute;
    left:23%;
    top:30%;
}
#loginform{
    color: #bf360c;
    position: absolute;
    left:26%;
    top:40%;
}

#but {
    position: absolute;
    right:1px;
    bottom:1px;
    height: 35px;
    background-color: #a1887f ;
    opacity: 50;
}
#submitcontainer{
    position: relative;
}
#signup {
    font-size: large;
    font-weight: bold;
    position: fixed;
    top:5px;
    left:5px;
    color: #bf360c;
}

